/* hero.css */
.hero-section {
  //URL to be added later
  background-image: url("https://as2.ftcdn.net/v2/jpg/02/75/06/49/1000_F_275064998_ZTj75EzgRB28XlJYo5LVy4wtwQfVnj0D.jpg");
  background-size: cover;
  background-position: center;
  height: 500px; /* Adjust as needed */
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;
}

.hero-content {
  padding: 20px;
  background: rgba(
    0,
    0,
    0,
    0.5
  ); /* Semi-transparent background for better text visibility */
  border-radius: 10px;
}

h1 {
  font-size: 3.5em;
  margin-bottom: 10px;
  color: whitesmoke;
}

p {
  font-size: 2em;
  margin-bottom: 20px;
  color: whitesmoke;
}

button {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
}
